## System ##
system.brightness= 3
system.script.end= /home/pi/WebMusicPlayer/End.sh

## Input ##
core.inp.device.1= BESCO_KSL81P304-event-kbd
core.inp.device.2= 2.4G_Smart_Remote-event-kbd

## Sound ##
core.snd.input.device= dsnoop:Loopback,1,0
core.snd.input.frequency= 48000
core.snd.input.channels= 2

## Network ##
core.wbs.server.location= ws://localhost:1234/client/main
