div.colorPickerMain {
	position:relative; 
	width:100%; 
	height:100%; 
	background-color:#FFF; 
	overflow:hidden;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

div.colorPickerMain div.colorPickerRainbow {
	background: gray; /* For browsers that do not support gradients */

	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(left,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(left,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
	/* For Fx 3.6 to 15 */
	background: -moz-linear-gradient(left,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
	/* Standard syntax */
	background: linear-gradient(to right, hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%)); 

	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

div.colorPickerMain div.colorPickerGradient {
	background-image: url("gradient.png");
	background-size: 100% 100%;
	
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

div.colorPickerMain div.colorPickerNull {
    pointer-events: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

div.colorPickerMain div.colorPickerMarker {
	background-color: #ffffff;
    border: 2px solid;
    border-radius: 25px;
    pointer-events: none;
	
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}