div.pageplaylistsMain {
	position: relative;
	overflow-y: hidden;
	width:100%;
	height:100%;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

div.pageplaylistsMain md-content {
	background-color: rgba(0, 0, 0, 0);
}

div.pageplaylistsMain button.default {
	color: rgb(255, 255, 255);
}

div.pageplaylistsMain md-list {
	padding: 0px;
	background-color: #ffffff;
}

div.pageplaylistsMain md-list.listCustom md-list-item div.md-button.md-no-style {
    padding: 0px;
}

div.pageplaylistsMain md-list.playlistList md-list-item.md-2-line.select {
	background-color: rgb(228, 228, 228);    
	border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 4px;
}

div.pageplaylistsMain md-list.md-dense md-list-item.md-2-line>.md-no-style .md-list-item-text h4 {
	font-size: 12pt;
}

div.pageplaylistsMain div.playlistPanel {
	background-color: #ffffff;
	height: 100%;
}

div.pageplaylistsMain div.playlistPanel.margin {
	margin-left: 10px;
	margin-right: 10px;
}

div.pageplaylistsMain div.playlistPanel div.md-button.md-no-style {
	padding-right: 0px;
}

div.pageplaylistsMain md-toolbar.playlistsToolbar {
	background-color: #737373;
	color: #000000;
	z-index: 0;
}
div.pageplaylistsMain md-toolbar.sub-header {
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0.87);
	padding: 0px;
}

div.pageplaylistsMain div.artIcon {
	position: relative;
	height: 80px;
	width: 80px;
	margin-right: 10px;
	background: rgba(100, 100, 100, 0.87);
	background-size: cover;
}

div.pageplaylistsMain div.subArtIcon {
	position:absolute; 
	width:50%; 
	height:50%; 
	background: rgba(100, 100, 100, 0.87);
	background-size: cover;
}

div.pageplaylistsMain md-bottom-sheet {
	height: calc(100% - 8px);
	background-color: rgb(235, 235, 235);
	border-top-width: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

div.pageplaylistsMain md-bottom-sheet md-toolbar {
	background-color: rgb(115, 115, 115);
}

div.pageplaylistsMain md-bottom-sheet md-toolbar div.md-toolbar-tools {
	padding-left: 2px;
	padding-right: 0px;
}

div.pageplaylistsMain md-bottom-sheet md-toolbar .md-toolbar-tools>.md-button:last-child {
	margin-right: 10px;
}

div.pageplaylistsMain div.mainIcon {
	height: 100px;
	width: 100px;
	margin-right: 10px;
	background: rgb(100, 100, 100);
	background-size: cover;
	
	-ms-transform: translate(5px,25px);
    -webkit-transform: translate(5px,25px);
    transform: translate(3px,25px);
}